---
name: Create Release

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  build:
    # See: .github/workflows/create_release_pr.yaml
    if: ${{ github.head_ref == 'prepare_for_release' && github.event.pull_request.merged == true }}
    runs-on: ${{ matrix.runner_machine }}
    timeout-minutes: 10
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include: # See: https://docs.github.com/ja/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#using-environment-variables-in-a-matrix
          - os: ubuntu-latest
            runner_machine: ubuntu-latest
            edax_runner_bin_name: edax_runner
            libedax_shared_library_name: libedax.so
          - os: windows-latest
            runner_machine: windows-latest
            edax_runner_bin_name: edax_runner.exe
            libedax_shared_library_name: libedax-x64.dll
          - os: macos-latest # apple silicon
            # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
            runner_machine: macos-latest
            edax_runner_bin_name: edax_runner
            libedax_shared_library_name: libedax.universal.dylib

    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - name: install dependencies
        run: dart pub get

      - name: build edax_runner
        shell: bash
        run: ./scripts/build_edax_runner.sh ${{ matrix.edax_runner_bin_name }} ${{ matrix.libedax_shared_library_name }}

      - name: create directory for publish
        shell: bash
        run: cp -R build edax_runner

      - name: output build info
        shell: bash
        run: .github/scripts/output_build_info.sh edax_runner

      - name: get current version
        id: get_version
        shell: bash
        run: |
          VERSION=$(dart pub deps --style compact | grep "edax_runner" | cut -c 13-)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: compress files (Windows)
        if: runner.os == 'Windows'
        run: powershell Compress-Archive -Path edax_runner -DestinationPath edax_runner-${{ matrix.os }}.zip
      - name: compress files (Linux, MacOS)
        if: runner.os == 'macOS' || runner.os == 'Linux'
        run: zip -r edax_runner-${{ matrix.os }}.zip edax_runner

      - name: upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: edax_runner-${{ matrix.os }}
          path: edax_runner-${{ matrix.os }}.zip

  create_release:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.build.outputs.version }}
          files: artifacts/edax_runner-*/*.zip
          generate_release_notes: true
